@model Order

<div>
  <h2>Thanks</h2>
  <p2>Thabks for placing The order <strong>( @Model.OrderID )</strong></p2>
  <p>We'll ship your order as soon as possible'</p>
  <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to Home</a>
</div> 